<form [formGroup]="formG">
  <div formArrayName="Payments">
    <div class="list-form-item" *ngFor="let payment of formG.controls.Payments.controls; let i = index">
      <div [formGroupName]="i">
        <div class="row">
          <DropDown [label]="'Forma de pag'" class="col-2" (SelectChange)="DropDownFormOfPaymentChange($event)" #ddlFormOfPayment
            [form]="payment" [controlName]="'IdFormOfPayment'" [setings]="DdlFormOfPaymentSetings"></DropDown>
          <TextBox class="col-md-3" [form]="payment" [controlName]="'Value'" [label]="'Valor'" [type]="'currency'">
          </TextBox>
          <TextBox class="col-md-2" [form]="payment" [controlName]="'NumberOfInstallments'" [label]="'Parcelas'" [type]="'number'">
          </TextBox>
          <TextBox class="col-md-3" [form]="payment" [controlName]="'FormOfPaymentRate'" [label]="'Juros'" [type]="'currency'">
          </TextBox>
          <TextBox class="col-md-2" [form]="payment" [controlName]="'NSU'" [label]="'NSU'" [type]="'text'">
          </TextBox>
        </div>
      </div>
    </div>
  </div>
</form>