.money-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 30em;
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;
    background: white;
    background-clip: padding-box;
    /* !importanté */
    border: solid 5px transparent;
    /* !importanté */
    border-radius: 1em;
    font-size: 19px;
  }
  .money-summary:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(135deg, #051937 10%, #008793 100%);
  }
  .money-summary-title {
    background: linear-gradient(135deg, #051937 10%, #008793 100%);
    color: white;
    font-size: 26px;
    width: 106%;
    text-align: center;
  }
  .sale-summary {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .entry-summary {
    margin-bottom: 10px;
  }
  .profit-summary {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .profit-summary-value {
    font-size: 24px;
    color: #0de001;
  }
  