<CrudPlug (cleanForm)="cleanForm($event)" [setings]="_crudPlugSetings">
</CrudPlug>
<Grid class="grid-default" [setings]="_gridSetings">
</Grid>

<form id="FormUserAplicationCompany" [formGroup]="form" class="form-default">
    <div class="row">
        <TextBox class="col-md-3" [form]="form" [controlName]="'Id'" [label]="'Id'" [readonly]="true"></TextBox>
        <TextBox class="col-md-3" [type]="'date'" [minimumDate]='true' [onlyDatePicker]='true' [form]="form" [controlName]="'CreateDate'" [label]="'Data Inclusão'" [readonly]="true"></TextBox>
        <TextBox class="col-md-3" [type]="'date'" [minimumDate]='true' [onlyDatePicker]='true' [form]="form" [controlName]="'ModifiedDate'" [label]="'Data Alteração'" [readonly]="true"></TextBox>
        <DropDown class="col-md-3" #ddlStatus [form]="form" [controlName]="'Status'" [setings]="DdlStatusSetings" [label]="'Status'"></DropDown>
    </div>
    <div class="row">
        <DropDown class="col-md-3" [label]="'Aplicação'"  #ddlAplication [form]="form" [controlName]="'IdAplication'" [setings]="DdlAplicationsSetings"></DropDown>
        <DropDown class="col-md-3" [label]="'Usuario'"  #ddlUser [form]="form" [controlName]="'IdUser'" [setings]="DdlUsersSetings"></DropDown>
        <DropDown class="col-md-3" [label]="'Empresa'"  #ddlCompany [form]="form" [controlName]="'IdCompany'" [setings]="DdlCompanySetings"></DropDown>
        <DropDown class="col-md-3" [label]="'Nivel de acesso'"  #ddlCompany [form]="form" [controlName]="'AccessLevel'" [setings]="DdlAccessLevelSetings"></DropDown>
    </div>
</form>