<div class="row">
    <div class="col-md-10">
        <form id="FormSale" [formGroup]="form" class="form-default" style="display: block; width:100%">
            <div class="tabs_master">
                <ul class="tabs_ul">
                    <li class="tabs_li">
                        <a (click)="tabChange('Customer')" [ngClass]="{'active': tabActive=='Customer'}">Cliente</a>
                    </li>
                    <li class="tabs_li">
                        <a (click)="tabChange('Products')" [ngClass]="{'active': tabActive=='Products'}">Produtos
                            <i (click)="AddProduct()" *ngIf="tabActive=='Products'" class="fa fa-plus tab-add"></i>
                        </a>
                    </li>
                    <li class="tabs_li">
                        <a (click)="tabChange('Payments')" [ngClass]="{'active': tabActive=='Payments'}">Pagamentos<i
                                (click)="AddPayment()" *ngIf="tabActive=='Payments'" class="fa fa-plus tab-add"></i></a>
                    </li>
                </ul>
                <div *ngIf="tabActive=='Customer'" class="tabs_body">
                    <div class="row">
                        <DropDown class="col-md-3" (SelectChange)="DropDownCustomerChange($event)" [label]="'Cliente'"
                            [form]="form" [controlName]="'IdCustomer'" [setings]="DdlCustomerSetings"></DropDown>
                    </div>
                </div>
                <div *ngIf="tabActive=='Products'" class="tabs_body">
                    <productsale [formG]="form" [productSale]="currentItem.Products"></productsale>
                </div>
                <div *ngIf="tabActive=='Payments'" class="tabs_body">
                    <payment [formG]="form" [payments]="currentItem.Payment" mode="edit"></payment>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 summary-container">
        <div class="summary-container-header">
            <p>RESUMO</p>
        </div>
        <b>Cliente</b>
        <p>{{_customerName}}</p>
        <b>Valor total</b>
        <p>{{_totalValue}}</p>
        <b>Valor pago</b>
        <p>{{_totalPaid}}</p>
        <div class="summary-container-btnconfirm"> 
            <button [ngClass]="{'btn-disabled': !_formValid ,'btn-green': _formValid }"
                class=" btn" [disabled]="!_formValid" (click)="Save()">Confirmar
                venda</button>
        </div>
    </div>
</div>